.main-block {
    background-image: url('../image/Background.jpg');
    padding: 286px 0 208px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-text-section {
    max-width: 647px;
    margin: 0 auto;
    text-align: center;
}

.main-title {
    font-family: Montserrat;
    font-size: 79px;
    font-weight: 500;
    line-height: 96px;
    color: #FFFFFF;
}

.main-subtitle {
    font-family: Montserrat;
    font-size: 27px;
    font-weight: 300;
    line-height: 33px;
    color: #FFFFFF;
}

.main-button {
    display: inline-block;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #1E2E3D;
    background-color: #FFFFFF;
    margin-top: 32px;
    padding: 26px 22px;
    text-decoration: none;
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.about-me-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 0 175px;
}

.section-title-text {
    text-align: center;
    margin-bottom: 51px;
    font-family: Montserrat;
    font-size: 37px;
    font-weight: 600;
    line-height: 45px;


}

.person-info-section {
    display: flex;
    max-width: 1380px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 97px;
    margin-top: 51px;
    margin-left: 20px;
    margin-right: 20px;

}

.person-info-text {
    max-width: 973px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.person-text-area {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-block {
    background-color: #1E2E3D;
    padding: 113px 0 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-litle {
    margin-top: 26px;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
    color: #FFFFFF;
}

.footer-text {
    margin-bottom: 27px;
    text-align: center;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

}

@media screen and (max-width: 768px) {
    .person-info-section {
        flex-direction: column;
    }

    .person-image {
        width: 70%;
    }
}

@media screen and (max-width: 665px) {
    .main-title {
        font-size: 60px;
    }

    .footer-litle {
        font-size: 25px;
    }

    .footer-text {
        font-size: 12px;
    }
}